{
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"extends": ["eslint:recommended", "plugin:vue/recommended", "plugin:jest/recommended"],
	"parserOptions": {
		"parser": "babel-eslint",
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"rules": {
		"indent": ["error", 2],
		"linebreak-style": ["error", "unix"],
		"quotes": ["error", "single"],
		"semi": ["error", "always"],
		"vue/component-name-in-template-casing": ["error", "PascalCase | kebab-case"],
		"vue/require-default-prop": ["error", {
			"required": false,
			"non-required": false
		}]
	},
	"plugins": ["jest"]
}
