square($size)
  width $size
  height $size

comp-size($height, $width)
  height $height
  width $width
  max-height $height
  max-width $width

right-gradient($color1 = #27fea3, $color2 = #27feee)
  background-image linear-gradient(to right, $color1, $color2)