$grey = #717070
$red = #f54343
$blue = #42c6fc
$orange = #ff662d
$yellow = #e8f041
$green = #18e854
$white = #f4f4f4
$black = #000000
$mustard = #eab23a
$ligh-brown = #D6AB85
$mint-green = #D5E6B4
$green2 = #AACC66
$green3 = #CBDB8A

// Darken
$dark-grey = darken(#717070, 30%)
$dark-red = darken(#f54343, 30%)
$dark-blue = darken(#42c6fc, 30%)
$dark-orange = darken(#ff662d, 30%)
$dark-yellow = darken(#e8f041, 30%)
$dark-green = darken(#18e854, 30%)
$dark-white =darken(#f4f4f4, 30%)

// Lighten
$ligh-grey = lighten(#717070, 30%)
$ligh-red = lighten(#f54343, 30%)
$ligh-blue = lighten(#42c6fc, 30%)
$ligh-orange = lighten(#ff662d, 30%)
$ligh-yellow = lighten(#e8f041, 30%)
$ligh-green = lighten(#18e854, 30%)
$ligh-white =lighten(#f4f4f4, 30%)

// Typography

$font-title = 'Pacifico', 'Montserrat', sans-serif
$font = 'Montserrat', sans-serif

// Border radius

$br = 5px