$grey = #717070
$red = #f54343
$blue = #42c6fc
$orange = #ff662d
$yellow = #e8f041
$green = #18e854
$white = #f4f4f4
$black = #000000


$dark = #2a2a2a
$background = #f8f8f8
$light = #e3e3e3
$grey = #717171

// Darken
$dark-grey = darken(#717070, 30%)
$dark-red = darken(#f54343, 30%)
$dark-blue = darken(#42c6fc, 30%)
$dark-orange = darken(#ff662d, 30%)
$dark-yellow = darken(#e8f041, 30%)
$dark-green = darken(#18e854, 30%)
$dark-white =darken(#f4f4f4, 30%)
$dark-light =darken($light, 30%)

// Lighten
$light-grey = lighten(#717070, 30%)
$light-red = lighten(#f54343, 30%)
$light-blue = lighten(#42c6fc, 30%)
$light-orange = lighten(#ff662d, 30%)
$light-yellow = lighten(#e8f041, 30%)
$light-green = lighten(#18e854, 30%)
$light-white =lighten(#f4f4f4, 30%)
$light-dark =lighten($dark, 30%)

// Typography

$font-title = 'Pacifico', 'Montserrat', sans-serif
$font = 'Montserrat', sans-serif

// Border radius

$br = 5px