 @import url('https://fonts.googleapis.com/css?family=Fira+Sans|Pacifico');
.color-1 {color: #343934;}.color-2 {color: #c02efb;}.color-3 {color: #2ed9fb;}.color-4 {color: #2efb7f;}.color-5 {color: #fbdc2e;}.color-6 {color: #fb2e2e;}
body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
}

.name {
  font-size: 42px;
  color: #fb2e2e;
  font-family: 'Pacifico', sans-serif;
  border-bottom: 2px dashed #fb2e2e;
  padding: 10px;
}

h2 {
  color: #fbdc2e;
  font-size: 28px;
  font-family: 'Pacifico', sans-serif;
  border: 2px dashed #fbdc2e;
  padding: 10px;
}

main {
  color: #343934;
  font-size: 18px;
  font-family: 'Fira Sans', sans-serif;
  max-width: 500px;
  margin: 30px 0 100px 0;
  text-align: center;
  line-height: 2em;
  border: 2px dashed #2efb7f;
  padding: 20px;
}

footer {
  color: #343934;
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;
  border-top: 2px dashed #fb2e2e;
  padding: 20px 100px; 
}