.html-recipeForm
    width 600px
    background greenyellow
    margin 10px
    padding 0px 0px 10px 10px
    border-radius 6px
  

  .ingredients
    display grid
    grid-template-columns 35em


  .steps
    display grid;
    grid-template-columns 35em
